/*  Copyright 2009  SciBuff - Galaxy Zoo

    This file is part of Galaxy Zoo Wordpress Plugin.

    Alfisti Connect is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Alfisti Connect is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Galaxy Zoo Wordpress Plugin.  If not, see <http://www.gnu.org/licenses/>.

*/

.widget-galaxy-zoo .galaxy-zoo-widget-username {}
.widget-galaxy-zoo .galaxy-zoo-widget-joined {}
.widget-galaxy-zoo .galaxy-zoo-widget-count {}
.widget-galaxy-zoo .galaxy-zoo-widget-last-text {}
.widget-galaxy-zoo .galaxy-zoo-widget-last-info {
	border: none;
}

.widget-galaxy-zoo img {
	display: block;
	margin-left: auto;
	margin-right: auto;	
	width: 90%;
	height: 90%;
	border: 0;
	padding: 6px;
}

.widget-galaxy-zoo .galaxy-zoo-widget-last-image {}
