/*  Copyright 2009  SciBuff - Galaxy Zoo

    This file is part of Galaxy Zoo Wordpress Plugin.

    Alfisti Connect is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Alfisti Connect is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Galaxy Zoo Wordpress Plugin.  If not, see <http://www.gnu.org/licenses/>.

*/

/**
 * The main widget container layout and style
 */
.widget-galaxy-zoo,
.widget-galaxy-zoo-favorites {
	padding: 4px;
	background-color: #222;
	border: 1px solid #333;
}

/**
 * The main widget content container layout and style. This container
 * is the place where the widget's content is displayed, i.e. the content
 * beneath the title.
 */
.widget-galaxy-zoo-content,
.widget-galaxy-zoo-favorites-content {
	background-color: #222;
	padding: 4px;
	overflow: hidden;
}

/**
 * This widget title layout and style
 */
.widget-galaxy-zoo .widgettitle,
.widget-galaxy-zoo-favorites .widgettitle {
	margin: 0 0 4px;
	padding:0;
	text-align: left;
	color: #FF5D05;	
	font-size: 1.4em;
}

/**
 * The animated preloader displayed in the AJAX version before the data
 * from Galaxy Zoo is loaded.
 * 
 * See the FAQ on how to change/customize this preloader image
 */
.widget-galaxy-zoo-loader,
.widget-galaxy-zoo-favorites-loader {
	background: #222 url(../img/loader-dark.gif) no-repeat 8px 8px;
	width: 32px;
	height: 32px;
	padding: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**
 * The regular widget text color
 */
.widget-galaxy-zoo p,
.widget-galaxy-zoo-favorites p {
	color: #FFFFFF;
}

/**
 * The regular widget text layout
 */
.widget-galaxy-zoo p,
.widget-galaxy-zoo-favorites p {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0;
	padding: 0 6px;	
	border-bottom: 1px dotted #333;
}

/**
 * The regular widget links color
 */
.widget-galaxy-zoo a,
.widget-galaxy-zoo-favorites a { color: #F1A204; }

/**
 * The regular widget links layout
 */
.widget-galaxy-zoo a,
.widget-galaxy-zoo-favorites a {
	font-weight: normal;
	text-decoration: none;	
}

/**
 * The regular widget links mouse over effect
 */
.widget-galaxy-zoo a:hover,
.widget-galaxy-zoo-favorites a:hover { text-decoration: underline; }

/**
 * The orange text color
 */
/*.widget-galaxy-zoo-orange { color: #FF5D05; }*/

/**
 * The yellow text color
 */
.widget-galaxy-zoo-yellow { color: #F1A204; }